.pacients__header-title-info{
    padding-top: 1rem;
    padding-bottom: 1rem;
    grid-area: hi;
    font-size: 1rem;
    text-align: center;
    background-color: var(--color-cyan-700);
    border-left: 1px solid var(--color-cyan-800);
    border-bottom: 2px solid var(--color-cyan-800);
}