.button-animation{
    box-shadow: 0px 0px 0px 1px var(--color-cyan-200);
    transition: box-shadow .2s ease;
}
.button-animation:hover{
    box-shadow: 0px 0px 4px 2px var(--color-cyan-400);
}
.button-animation:active{
    box-shadow: 2px 2px 4px 2px var(--color-cyan-400);
}
