.header-pacient-card{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
    background-color: var(--color-cyan-700);
    border-radius: .5rem;
    width: 100%;

}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 100vw) {
    .header-pacient-card{

        width: 90%;
    }
}
