.pacients__button-file-read{
    position: absolute;
    left: 0;
    top:2rem;
    width: 14.5rem;
    text-align: center;
    pointer-events: all;
    text-decoration: none;
    color: var(--color-cyan-900);
}