.pacients__list-item{
    background: var(--color-cyan-600);
    border-radius: 1rem;
    text-align: center;
    line-height: 1.5rem;
    width: 80%;
    margin: .5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}