.admin-pacients{
    background-color: var(--color-cyan-100);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 767px) {
    .admin-pacients{
        max-width: 480px;

    }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1023px) {
    .admin-pacients{
        max-width: 668px;
        column-gap: .5rem;
    }
}
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1440px) {
    .admin-pacients{
        max-width: 700px;
        column-gap: .5rem;
    }
}