.pacients__flow{
    display: grid;
    grid-area: pw;
    grid-template-areas:    'hl hl hl hi hi hi hi hi'
                            'lp lp lp ip ip ip ip ip'
                            'lp lp lp ip ip ip ip ip'
                            'lp lp lp ip ip ip ip ip'
                            'lp lp lp ip ip ip ip ip'
                            'lp lp lp ip ip ip ip ip'
                            'lp lp lp ip ip ip ip ip'
                            'lp lp lp ip ip ip ip ip'
                            'lp lp lp ip ip ip ip ip';
}