.form-submit-button{
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: var(--color-cyan-100);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.form-submit-button::before{
    content: "";
    background: linear-gradient(
      45deg,
      var(--color-cyan-100),
      var(--color-cyan-200),
      var(--color-cyan-300),
      var(--color-cyan-400),
      var(--color-cyan-500),
      var(--color-cyan-600),
      var(--color-cyan-700),
      var(--color-cyan-800),
      var(--color-cyan-900)
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: form-submit-button 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.form-submit-button:hover{
  animation: form-submit-button 20s linear infinite;
}

@keyframes form-submit-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.form-submit-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--color-cyan-500);
  left: 0;
  top: 0;
  border-radius: 10px;
}