.pacients__work-section{
    grid-area: wc;
    background-color: var(--color-cyan-900);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    justify-items: center;
    align-items: center;
}