.form-authorization{
    min-width: 14rem;
    min-height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-cyan-500);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 767px) {
    .form-authorization{
        width: 14rem;
        height: 14rem;

    }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1440px) {
    .form-authorization{


    }
}